
		body { font-family: Courier; font-size: 12pt;  }
		p { 	text-align: justify; margin-bottom: 4pt; margin-top:0pt;  }
		table {font-family: Courier; font-size: 10pt; 
			margin-bottom: 4pt;
			border-collapse: collapse;}
		caption{ text-align:left; }
		thead {	font-weight: bold; vertical-align: bottom; }
		tfoot {	font-weight: bold; vertical-align: top; }
		thead td { font-weight: bold; }
		tfoot td { font-weight: bold; }

		thead td, thead th, tfoot td, tfoot th { font-variant: small-caps; }

		.headerrow td, .headerrow th { background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;  }
		.footerrow td, .footerrow th { background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;  }
		.noborder td { border: 0px; font-family: Courier; font-size: 12pt; vertical-align: middle; }
		th {	
		text-transform:uppercase;
		font-weight: bold; 
			vertical-align: top; 
			text-align:center; 
			padding-left: 1mm; 
			padding-right: 1mm; 
			padding-top: 0.5mm; 
			padding-bottom: 0.5mm; 
			border: 1px solid black;
		 }

		td {	padding-left: 1mm; 
			vertical-align: top; 
			text-align:left; 
			padding-right: 1mm; 
			padding-top: 0.5mm; 
			padding-bottom: 0.5mm;
			border: 1px solid black;
		 }

		th p { text-align: left; margin:0pt;  }
		td p { text-align: left; margin:0pt;  }

		table.widecells td {
			padding-left: 5mm;
			padding-right: 5mm;
		}
		table.tallcells td {
			padding-top: 3mm;
			padding-bottom: 3mm; 
		}

		hr {	width: 70%; height: 1px; 
			text-align: center; color: #999999; 
			margin-top: 8pt; margin-bottom: 8pt; }

		a {	color: #000066; font-style: normal; text-decoration: underline; 
			font-weight: normal; }

		ul {	text-indent: 5mm; margin-bottom: 9pt; }
		ol {	text-indent: 5mm; margin-bottom: 9pt; }

		pre { font-family: DejaVuSansMono; font-size: 9pt; margin-top: 5pt; margin-bottom: 5pt; }

		h1 {	font-weight: bold; font-size: 14pt; color: #000000; 
			font-family: Courier; margin-top: 0pt; margin-bottom: 0pt; 
			border-top: 0cm solid #000000; border-bottom: 0cm solid #000000; 
			text-align: ; page-break-after:avoid; }
		h2 {	font-weight: bold; font-size: 16pt; color: #000066; 
			font-family: arial; margin-top: 1pt; margin-bottom: 1pt; 
			border-top: 0.04cm solid #000000; border-bottom: 0.04cm solid #000000; 
			text-align: ;  text-transform:uppercase; page-break-after:avoid; }
		h3 {	font-weight: normal; font-size: 26pt; color: #000000; 
			font-family: arial; margin-top: 0pt; margin-bottom: 6pt; 
			border-top: 0; border-bottom: 0; 
			text-align: ; page-break-after:avoid; }
		h4 {	font-weight: ; font-size: 13pt; color: #9f2b1e; 
			font-family: arial; margin-top: 10pt; margin-bottom: 7pt; 
			font-variant: small-caps;
			text-align: ;  margin-collapse:collapse; page-break-after:avoid; }
		h5 {	font-weight: bold; font-style:italic; ; font-size: 11pt; color: #000044; 
			font-family: arial; margin-top: 8pt; margin-bottom: 4pt; 
			text-align: ;  page-break-after:avoid; }
		h6 {	font-weight: bold; font-size: 9.5pt; color: #333333; 
			font-family: arial; margin-top: 6pt; margin-bottom: ; 
			text-align: ;  page-break-after:avoid; }


